@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  padding: 0;
}
.exemple_app {
  &-wraper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #b1b1b1, $alpha: 1.0);
  }
}
button:active, input:active, input:focus, button:focus{
  outline: none;
}

.form-group{
  margin-bottom: 0;
}
// devMode
.display-dev-mode {
  position: absolute;
  top: 10px;
  border-radius: 5px;
  right: 26px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  width: 260px;
  background: transparent;
  border: 3px solid #fff;
  z-index: 1;
}
.dev_mode{
  position: absolute;
  right: 0;
  //background: #2F4F4F;
  background: #708090;
  height: 100%;
  overflow-y: scroll;
  max-width: 300px;
  width: 300px;
  transition: 0.5s;
  color: #fff;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 5px !important;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #d8d8d8 !important;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
  }
  &.show {
    height: 100%;
  }
  &.hid {
    height: 0;
  }
}
.dev-mode {
  &-loading{
    display: block;
    margin: 3em auto
  }
  &-content {
    margin-top: 4em;
    padding: 10px;
  }
  &-folder{
    display: flex;
    align-items: center;
    &.active{
      background: #4a5661;
    }
    &-drop-image{
      width: 17px;
      height: 17px;
      background-position: center;
      background-size: 50%;
      background-repeat: no-repeat;
      transition: 0.5s;
      &.active{
        transform: rotate(0deg);
      }
      &.not-active{
        transform: rotate(90deg);
      }
    }
    &-button{
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-align: left;
      width: 100%;
      font-size: 14px;
      background: transparent;
      border: none;
      margin: 5px 0;
      &.not-active{
        border-left: 3px solid #d3d3d3;
        color: #fff;
      }
      &.active{
        border-left: 3px solid #1E90FF;
        color: #fff;
      }
    }
    &-children{
      margin-left: 5px;
    }
  }
  &-fields{
    &-select{
      width: 100% !important;
    }
    &-file{
      font-size: 14px;
      width: 80%;
    }
    border-bottom: 1px solid #C0C0C0;
    padding: 5px 0 5px 0;
    &-color{
      margin: 10px 0;
      border-bottom: 1px solid #C0C0C0;
      font-size: 13px;
      text-align: center;
      display: flex;
    }
    &-wrapper{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      &.deapth-search{
        justify-content: center;
        padding-bottom: 10px;
      }
      & .form-label{
        font-size: 13px;
        display: inline;
        margin-bottom: 0;
        max-width: 89px;
        word-wrap: break-word;
      }
    }
    &-checkbox{
      width: 20px;
      height: 20px;
      margin-left: 10px;
    }
  }
  &-button{
    border: 1px solid #fff;
    background: transparent;
    text-align: center;
    color: #fff;
    border-radius: 5px;
  }
  &-show-color{
    cursor: pointer;
    border: 1px solid #fff;
    color: #fff;
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
    background: #4a5661;
    margin-left: 3em;
    height: 2em;
    transition: 0.8s;
    & p{
      margin: 0;
      height: 100%;
      padding: 4px;
    }
    &.active{
      border: 1px solid #007bff;
    }
    &.not-active{
      border: 1px solid #fff;
    }
  }
  &-input{
    height: 2em;
    background: #4a5661;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    color: #fff;
    padding: 0 0 0 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    width: 150px;
    text-overflow: ellipsis;
    font-size: 12px;
    &:focus{
      border: 1px solid #007bff;
      background: #424242;
      color: #fff;
    }
    &:read-only{
      background: #4a5661;
      text-overflow: ellipsis;
    }
  }
}
.chrome-picker{
  position: absolute;
  right: 10px;
  transition: 0.5s;
  margin-top: 5px;
  &.active{
    position: absolute;
    right: 10px;
  }
  &.not-active{
    transform: translateX(200%);
  }
}